---
# defaults file for ravello-provision-app
application_name: my.ravello.app
workdir_path: "{{ playbook_dir }}/workdir/"
template_path: "{{ workdir_path }}/{{ application_name }}.template"
ssh_key_path: "{{ workdir_path }}/{{ application_name }}.id_rsa"
remote_user: cloud-user
ssh_password_auth: False
ravello_cost_bucket: Default
publish_optimization: cost
publish_region: default
publish_cloud: default
wait_timeout: 1800
env_expire: 120
use_cloud_template_module: True
use_jinja_cloud_template: True

instances:
  - name: bastion
    services:
      - protocol: ssh
        port: 22
