[Unit]
Description=Fix OpenShift publicURL
After=atomic-openshift-master-api.service

[Service]
ExecStart=/usr/local/bin/update_publicURL.sh
Type=simple

[Install]
WantedBy=default.target
